@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.slick-slide > div {
  margin: 0 3px;
}
.slick-list {
  overflow: visible;
  z-index: 1;
}
.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}

.slick-prev:hover,
.slick-next:hover {
  background: rgb(20, 20, 20, 0.7) !important;
}

.slick-dots {
  top: -20px;
}
.slick-active .custom-dot {
  border: 2px #aaaaaa solid;
}
.custom-dot {
  border: 2px #4d4d4d solid;
  z-index: 2;
}

.slick-dots .list li {
  pointer-events: none;
  margin: 0 1px;
}
.slick-dots .banner li {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1px;
}
.slick-dots .banner li:hover .custom-dot {
  border: 2px #aaaaaa solid;
}
.banner-slider .slick-dots {
  top: auto;
  bottom: 20px;
}
